@use "../../styles/partials/_layout.scss" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.select-data {
  width: 100%;
  position: relative;
  margin-bottom: 0.4rem;
  font-family: inherit;
  font-size: inherit;

  &__input {
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border: 2px solid $bb-black;
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: inherit;
    color: $bb-black;
    outline: none;
    padding: 0.45rem 0.5rem;
    background: none;

    &--error {
      color: rgb(255, 52, 52);
      border-color:rgb(255, 52, 52);
    }

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.4125;
    }

    @include desktop {
      &:hover {
        border-color: $bb-coolgrey;
      }
    }
  }

  &__value {
    @include body-mobile;
    background-color: $bb-white;
    font-size: 1.025em;

    &:hover {
      background-color: $bb-grey;
      cursor: pointer;
    }
  }
}
