@use "./colours" as *;

@mixin header-mobile {
  font-size: 1rem;
  color: $bb-white;
}

@mixin sub-header-mobile {
  font-size: 0.825rem;
  color: $bb-white;
}

@mixin body-mobile {
  font-size: 0.825rem;
  color: $bb-white;
}
