.image {
  margin-top: 1rem;
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &-container {
    margin: 1rem auto;
    width: 30vh;
  }

  &:hover {
    cursor: pointer;
  }

  &--modal {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    &-content {
      margin-top: 3rem;
      width: 90%;
      aspect-ratio: 3 / 2;
      border-radius: 0.25rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
