@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 0.25rem;
  
  &-container {
    flex-shrink: 1;
    margin: 0.25rem auto;
    width: calc(0.32*100vh)
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &__slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &--next {
    position: absolute;
  }

  &--slide-out {
    animation: slideOut 0.5s ease-in-out forwards;
    position: absolute;
  }
  &--slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    //   rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &--modal {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);

    &-content {
      margin-top: 3rem;
      width: 95%;
      aspect-ratio: 3 / 2;
      border-radius: 0.25rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
