@use "../../styles/partials/_layout.scss" as *;
@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

@keyframes scoreSlideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scoreSlideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.scoreboard {
  margin: 0 2.5rem;
  &__headings {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    width: 30%;
    text-align: center;
    @include sub-header-mobile;
  }

  &__row {
    border-bottom: 2px solid $bb-grey;
    padding: 0.425rem 0;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &:nth-child(5) {
      border-bottom: 2px solid $bb-white;
    }
  }

  &__light {
    height: 1.125rem;
    margin: 0 auto;
    width: 1.125rem;
    border: 1px solid $bb-white;
    border-radius: 100%;

    @keyframes lightWrong {
      from {
        box-shadow: none;
      }
      to {
        border: 1px solid rgb(254, 191, 191);
        background-color: rgb(255, 52, 52);
        box-shadow: 0 0 5px rgba(251, 207, 207, 1);
      }
    }

    @keyframes lightRight {
      from {
        box-shadow: none;
      }
      to {
        background-color: #41f962;
        box-shadow: 0 0 5px rgb(126, 255, 150);
      }
    }

    &--make {
      &--red {
        animation: lightWrong 0.75s forwards;
        animation-delay: 0.25s;
      }

      &--green {
        animation: lightRight 0.75s forwards;
        animation-delay: 0.25s;
      }
    }

    &--model {
      &--red {
        animation: lightWrong 0.75s forwards;
        animation-delay: 0.5s;
      }

      &--green {
        animation: lightRight 0.75s forwards;
        animation-delay: 0.5s;
      }
    }

    &--year {
      &--red {
        animation: lightWrong 0.75s forwards;
        animation-delay: 0.75s;
      }

      &--green {
        animation: lightRight 0.75s forwards;
        animation-delay: 0.75s;
      }
    }

    &__container {
      width: 30%;
      text-align: center;
    }
  }

  &__tally {
    padding: 0.5rem 0;
    &-row {
      display: flex;
      justify-content: space-between;
      @include body-mobile;

      &:nth-child(2) {
        padding: 0.5rem 0;
      }
    }
  }
  &__current-score {
    &-scroll {
      position: relative;
      overflow-y: hidden;

      &--value {
        text-align: right;
        width: 0.5rem;
        &-next {
          position: absolute;
          transform: translateY(100%);
        }
        &-out {
          animation: scoreSlideOut 0.5s ease-in-out;
        }
        &-in {
          animation: scoreSlideIn 0.5s ease-in-out forwards;
        }
      }
    }
  }
  &__multiplier {
    &-container {
      display: flex;
    }
    &-scroll {
      position: relative;
      overflow-y: hidden;

      &--value {
        text-align: right;
        width: 0.5rem;
        &-next {
          position: absolute;
          transform: translateY(100%);
        }
        &-out {
          animation: scoreSlideOut 0.5s ease-in-out;
        }
        &-in {
          animation: scoreSlideIn 0.5s ease-in-out forwards;
        }
      }
    }
  }
}
