@use "./styles/global.scss" as *;
@use "./styles/partials/colours" as *;

.App {
  background-color: $bb-white;
  height: 100vh;
}

.container {
  margin: 0 auto;
  background-color: $bb-white;
  position: relative;
  max-width: 450px;
  color: $bb-white;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.advertisement {
  margin: 1rem 2rem 0;
  text-align: center;
  border: 1px solid white;
  padding: 1rem;
}
