@use "./styles/global.scss" as *;
@use "./styles/partials/colours" as *;

.App {
  background-color: $bb-white;
  height: 100svh;
}

.cardle-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  margin: 0 auto;
  background-color: $bb-white;
  position: relative;
  width: 100%;
  max-width: 450px;
  color: $bb-white;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  row-gap: 1%;
  flex-grow: 1;
  
  @media (height >= 620px){
    row-gap: 5%;
  }
  @media (width >= 480px){
    justify-content: flex-start;
  }
    
  }

